.story-image {
    width: 700px;
    margin: 0 auto;
    border-width: 15px;
    border-color: #590219;
    border-style: solid;
    border-radius: 10px;
}

.story-image img {
    width: 100%;
    height: 700px;
    display: block;

}

#story-caption {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    color: #770000; 
}
.story-text {
}

